$background-color: white;
$background-color-code: #f3f3f3;

// Fonts imported in ../layouts/partials/head.html & ../layouts/partials/head.amp.html
$font-color: rgba(black, .85);
$font-color-inverse: rgba(white, .85);
$font-color-link: rgba(blue, 0.85);
$font-color-nav-link: #595959;
$font-color-nav-link-hover: rgba(black, .85);
$font-color-print: black;
$font-family-monospace: 'Source Code Pro', monospace;
$font-family-sans-serif: 'Merriweather Sans', sans-serif;
$font-family-serif: 'Merriweather', serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

$responsive-breakpoint: 760px;
$responsive-gap: 32px;