{{ define "main" }}
    {{ partial "page-album" . }}
{{ end }}
{{ define "aside" }}
    {{ partial "page-related" . }}
{{ end }}
{{ define "pageHead" }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery.js@1.1.3/dist/css/lightgallery.min.css" integrity="sha256-oPZ2OUkKul2aJQeDwKoO1p+DpvFR+w17n7YXydvFRWU=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/lightgallery.js@1.1.3/dist/js/lightgallery.min.js" integrity="sha256-eoTGOrFW1o5KcmlIfJxlpOs0sMeGTy0/0rh/fGZEgNM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lg-autoplay.js@1.0.0/dist/lg-autoplay.min.js" integrity="sha256-ZT+jEN+aOt+f2+Ogh694WM+zA//es33fndcM95SLR3A=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lg-fullscreen.js@1.1.0/dist/lg-fullscreen.min.js" integrity="sha256-ELuQb5bd81KYqUvLSeqpqSoeystjFaJqHVNLdd4QP7s=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lg-hash.js@1.0.0/dist/lg-hash.min.js" integrity="sha256-HyaTn1w21/gtqG2MnBB+jg1J6f+DZ9Hm3asbAN2vV/Q=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lg-pager.js@1.0.0/dist/lg-pager.min.js" integrity="sha256-IHT2h0DZ3FMDYV51K8E5ewPE8PF6jhwm7vFTdIt6Qv8=" crossorigin="anonymous"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/lg-thumbnail.js@1.1.0/dist/lg-thumbnail.min.js" integrity="sha256-6rMa+PkINberZ0st0kdIQQObwBAiqjEvgN3m4i/eWNc=" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/lg-zoom.js@1.0.1/dist/lg-zoom.min.js" integrity="sha256-46fmu0pp+GJ2VLqeCrElKXG8+0AFONuwYF25ozQs5bk=" crossorigin="anonymous"></script>
{{ end }}